<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>مدیریت بیماران</title>

</head>


<body>


    <!-- =====================================================
         عنوان اصلی
         ===================================================== -->

    <h1>
        سامانه مدیریت بیماران
    </h1>


    <p>
        داشبورد مدیریت اطلاعات بیماران
    </p>


    <hr>



    <!-- =====================================================
         بخش بیماران
         ===================================================== -->

    <h2>
        بیماران
    </h2>


    <p>
        مدیریت اطلاعات و پرونده بیماران
    </p>


    <a href="{% url 'patient-list' %}">
        مشاهده بیماران
    </a>


    <br>
    <br>


    <a href="{% url 'patient-create' %}">
        + ثبت بیمار جدید
    </a>



    <hr>



    <!-- =====================================================
         بخش‌های آینده
         ===================================================== -->

    <h2>
        مدیریت پرونده
    </h2>


    <ul>

        <li>
            <a href="">
                جزئیات بیمار
            </a>
        </li>

        <li>
            <a href="#">
                ویرایش بیمار
            </a>
        </li>

        <li>
            <a href="#">
                حذف بیمار
            </a>
        </li>

    </ul>



    <!-- =====================================================
         بخش پایش
         ===================================================== -->

    <h2>
        پایش و انطباق
    </h2>


    <ul>

        <li>
            <a href="#">
                وضعیت پایش بیماران
            </a>
        </li>

        <li>
            <a href="#">
                گزارش انطباق
            </a>
        </li>

    </ul>



    <!-- =====================================================
         بخش تنظیمات
         ===================================================== -->

    <h2>
        سیستم
    </h2>


    <ul>

        <li>
            <a href="#">
                پروفایل کاربر
            </a>
        </li>

        <li>
            <a href="#">
                خروج
            </a>
        </li>

    </ul>


</body>

</html>